#about,
#home,
#our-work,
#services,
.terms {
	max-width: 100%;
}
body,
html {
	margin: 0;
	padding: 0;
}
.contact-usBtn,
header {
	font-size: 16px;
}
.ContentTeam > div,
.FrameBlocks,
.LearnMore,
.Stars,
.TitleTeam,
.brands-highlightPreviousWork,
.coffeeFormula,
.containerContact,
.heading,
.image-block,
.leftgrid,
.nav a,
.needhelpv2,
.olListLeft li,
.rightgrid,
.slide-menu {
	position: relative;
}
#about .Heading,
.Btn-our-work,
.contact-usBtn,
.helpto,
header {
	font-family: Merriweather, serif;
}
.Btn-our-work,
.contact-usBtn {
	outline: 0;
	box-shadow: none;
	padding: 24px 40px;
}
#about .Heading,
.nav a,
header {
	font-weight: 400;
}
#about .Btn,
.Btn-our-work,
.contact-usBtn {
	border: 0;
	background-color: #020e35;
	cursor: pointer;
}
#XP,
#services {
	margin-left: 150px;
	margin-right: 150px;
}
.nav a,
.textFont:hover {
	text-transform: uppercase;
}
#Testimonial,
#our-work,
.nav a {
	overflow: hidden;
}
#NewsLetter,
#contact-us,
#our-work,
.ContainerNewsletters,
.containerContact,
.footer-grid,
.image-block,
.leftgrid,
.rightgrid,
.terms,
header {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
}
:root {
	--primary-rose-100: #ff5678;
	--secondary-rose-50: #ffeef6;
	--white: #ffffff;
}
main {
	flex-grow: 1;
}
body {
	background-color: var(--white);
	justify-content: center;
}
#home,
header {
	display: flex;
	justify-content: space-between;
	left: 0;
}
header {
	align-items: center;
	width: 100%;
	height: 84px;
	top: 0;
	padding-left: 150px;
	padding-right: 150px;
	background: var(--white);
	box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.08);
	line-height: 20px;
	position: sticky;
	z-index: 1000;
}
.logo {
	width: 128.87px;
	height: 42px;
	background-image: url(Images/Logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
.contact-usBtn,
.nav a {
	margin-left: 60px;
	line-height: 20px;
}
.fontsName,
.helpto,
.textPower {
	margin: 0;
}
.olListLeft li,
.olListRight li {
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 48px;
	list-style: none;
	counter-increment: item;
}
.nav a {
	color: #2b2b2b;
	text-decoration: none;
	height: 68px;
	transition: color .25s;
}
.brands-highlight::before,
.nav a::after,
.talentedPeopleSpan::before {
	content: "";
	position: absolute;
	background-color: var(--primary-rose-100);
}
.nav a::after {
	left: 0;
	height: 4px;
	bottom: -8px;
	width: 100%;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .25s;
}
.nav a:hover::after {
	transform: scaleX(1);
	background-color: var(--primary-rose-100);
	height: 4px;
	bottom: -8px;
}
.contact-usBtn {
	color: var(--white);
	font-weight: 700;
}
#home {
	flex-direction: row;
	margin: 300px 150px 200px;
	gap: 4px;
	max-height: 1008px;
	top: 84.02px;
}
.heading,
.headline {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.heading {
	gap: 20px;
	width: 548px;
	height: 457px;
}
.headline {
	gap: 0;
	width: 100%;
	height: 330px;
}
.helpto {
	font-weight: 900;
	font-size: 76px;
	line-height: 110px;
	color: #2b2b2b;
}
.Btn-our-work {
	color: var(--white);
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	gap: 4px;
	width: 197px;
	height: 71px;
	position: absolute;
	bottom: 0;
	left: 0;
	box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.25);
}
#thingsWeSpan,
.textPower {
	font-size: 54px;
	line-height: 62px;
}
#about .IllustrationPeople,
#home .Image1café {
	width: 592px;
	height: 508px;
	background-repeat: no-repeat;
	gap: 4px;
}
#XP,
#about,
#home .Image1café,
#services,
.HeadingExperiences,
.PinkCircleIllustration,
.footer-grid,
.footer-item,
.leftSideHeading {
	display: flex;
	align-items: flex-start;
}
#home .Image1café {
	background-image: url(Images/Illustration.png);
	flex-direction: column;
	padding: 4px 0 4px 4px;
}
.brands-highlight {
	position: relative;
	display: inline;
	color: var(--white);
}
.brands-highlight::before,
.talentedPeopleSpan::before {
	z-index: -1;
}
.brands-highlight::before {
	top: 10%;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 70px;
}
#about {
	top: 1092.03px;
	justify-content: space-between;
	flex-direction: row;
	margin: 100px 150px;
}
#about .IllustrationPeople {
	background-image: url("Images/Illustration (2).png");
	background-position: center;
	padding: 4px;
	margin-bottom: 100px;
	align-items: center;
}
#about .Heading,
.Circle2,
.Content,
.contactform2 {
	display: flex;
	flex-direction: column;
}
.Content {
	gap: 60px;
	position: relative;
}
#about .Heading {
	width: 517px;
	height: 304px;
	font-style: normal;
	font-size: 18px;
	line-height: 23px;
	color: #020e35;
}
#about .Btn,
#thingsWeSpan,
.talentedPeopleSpan,
.textPower {
	font-weight: 700;
	font-family: Merriweather, serif;
}
#about .Btn,
.LearnMore {
	color: var(--white);
	box-shadow: none;
	outline: 0;
	box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.25);
}
.talentedPeopleSpan {
	width: 517px;
	height: 138px;
	font-size: 54px;
	line-height: 22px;
	margin: 0;
}
.talentedPeopleSpan::before {
	width: 423px;
	height: 29px;
	left: 5px;
	margin-top: 15px;
}
.HeaderButtons {
	width: 460px;
	height: 71px;
	align-items: flex-start;
	flex-direction: row;
	display: flex;
	margin-top: auto;
	margin-bottom: -60px;
}
#about .Btn {
	width: 185px;
	height: 71px;
	padding: 24px 40px;
	font-size: 16px;
	line-height: 20px;
}
.Watchvideos {
	background-image: url(Images/Watch\ video.png);
	width: 212px;
	height: 68px;
	gap: 24px;
	margin-left: 63px;
	cursor: pointer;
	flex-direction: column;
}
#services {
	height: 792px;
	top: 1800.05px;
	justify-content: space-between;
	flex-direction: row;
}
.leftSideHeading {
	flex-direction: column;
	gap: 40px;
	width: 545px;
	height: 592px;
	margin-bottom: 100px;
}
#ServicesHeadline {
	max-width: 545px;
	height: 592px;
}
#thingsWeSpan {
	width: 457px;
	height: 62px;
	letter-spacing: 0;
}
#thingsWeSpan::before,
.highlightOurCustomers::before {
	content: "";
	position: absolute;
	width: 468px;
	height: 34px;
	background-color: var(--primary-rose-100);
	z-index: -1;
	margin-top: 32px;
}
.olListLeft {
	margin-top: 120px;
	width: 545px;
	height: 410px;
	padding-left: 120px;
	counter-reset: item 3;
}
.olListLeft li::before,
.olListRight li::before {
	content: "0" counter(item);
	position: absolute;
	left: -118px;
	color: transparent;
	-webkit-text-stroke: 1px #000;
	font-weight: 400;
	font-size: 64px;
	line-height: 72px;
	text-align: center;
}
.olListLeft li,
.olListRight li,
.service-description {
	font-family: Merriweather, serif;
	font-weight: 400;
	letter-spacing: 0;
}
.service-description {
	font-size: 18px;
	line-height: 23px;
	width: 421px;
	height: 46px;
	white-space: normal;
}
.olListRight {
	margin-top: 121px;
	margin-left: 600px;
	counter-reset: item;
}
.olListRight li {
	position: relative;
	white-space: nowrap;
}
.olListRight li::before {
	left: -110px;
	color: #fff;
}
.PinkCircleIllustration {
	flex-direction: column;
	padding: 4px 0 4px 4px;
	gap: 4px;
	position: absolute;
	width: 780px;
	height: 670px;
	left: -205px;
	top: 2015px;
	background: var(--secondary-rose-50);
	border-radius: 1000px;
	z-index: -5;
}
#XP {
	flex-direction: row;
	justify-content: space-between;
}
.HeadingExperiences {
	margin-top: 183.5px;
	margin-bottom: 183.5px;
}
.HeadingExperiences,
.HeadlineExperiences {
	flex-direction: column;
}
.descriptionWeCraft,
.weCraftExperiences {
	font-family: Merriweather, serif;
	letter-spacing: 0;
}
.weCraftExperiences {
	width: 664px;
	height: auto;
	font-weight: 700;
	font-size: 54px;
	line-height: 72px;
	margin: 0;
}
.highlightOurCustomers::before {
	width: 406px;
	left: 149px;
	margin-top: 109px;
}
.descriptionWeCraft {
	width: 481px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.ContentTeam > div::after,
.LearnMore {
	font-family: Merriweather, serif;
	font-size: 18px;
	cursor: pointer;
}
.LearnMore {
	border: 0;
	background-color: #020e35;
	padding: 24px 40px;
	font-weight: 700;
	line-height: 20px;
	width: 197px;
	height: 71px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}
#TeamSection,
.IllustrationPeople2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}
#NewsLetter,
#Testimonial,
#contact-us {
	margin: 100px 0;
}
.IllustrationPeople2 {
	margin-bottom: 100px;
	padding: 4px 0 4px 4px;
	width: 780px;
	height: 670px;
	gap: 2px;
	background-image: url("Images/Illustration (3).png");
	border-radius: 1000px;
	background-repeat: no-repeat;
}
#TeamSection {
	margin: 100px 150px;
}
.TitleTeam {
	font-family: Merriweather, serif;
	font-weight: 700;
	font-size: 54px;
	line-height: 72px;
	color: #020e35;
	margin: 0 0 104px;
}
.TitleTeam::before,
.brands-highlightPreviousWork::before,
.coffeeFormula::before,
.needhelpv2::before {
	height: 30px;
	content: "";
	background-color: var(--primary-rose-100);
	position: absolute;
	left: -8px;
	right: 2px;
	bottom: 2px;
	z-index: -1;
}
.ContentTeam {
	display: grid;
	grid-template-columns: repeat(3, 519px);
	grid-template-rows: repeat(2, 519px);
	column-gap: 32px;
	row-gap: 61px;
	width: 100%;
}
.ContentTeam > div {
	transition: transform .3s, box-shadow .3s;
}
.ContentTeam > div:hover {
	transform: scale(1.04);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.ContentTeam > div::after {
	content: "See Details";
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 10px);
	font-weight: 400;
	line-height: 23px;
	text-align: center;
	opacity: 0;
	transition: opacity .3s, transform .3s, text-shadow .3s;
}
.ContentTeam > div:hover::after {
	opacity: 1;
	transform: translate(-50%, 0);
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
.Ali,
.Daen,
.John,
.Jones,
.Kate,
.Yui {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	gap: 60px;
	background: var(--white);
	border: 1px solid #b8b8b8;
	border-radius: 50px;
	width: 519px;
	height: 519px;
	transition: .3s ease-in-out;
}
.rectangle-horizontal,
.rectangle-vertical,
.square,
.square2,
.square3,
.square4 {
	background-color: var(--secondary-rose-50);
}
.Ali:hover,
.Daen:hover,
.John:hover,
.Jones:hover,
.Kate:hover,
.Yui:hover {
	transform: scale(1.04);
}
#our-work,
.block1,
.block2,
.block3,
.block4,
.block5,
.photoTesti,
.photos {
	display: flex;
	justify-content: center;
	align-items: center;
}
.photos {
	background: var(--secondary-rose-50);
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-top: 88px;
}
.AliNameDescription,
.DaenNameDescription,
.JohnNameDescription,
.JonesNameDescription,
.KateNameDescription,
.YuiNameDescription {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 44px;
}
.teamNameAli,
.teamNameDaen,
.teamNameJohn,
.teamNameJones,
.teamNameKate,
.teamNameYui {
	font-family: Merriweather, serif;
	font-weight: 700;
	font-size: 28px;
	line-height: 36px;
	width: 100%;
	text-align: center;
	margin: 0;
}
.teamDescriptionAli,
.teamDescriptionDaen,
.teamDescriptionJohn,
.teamDescriptionJones,
.teamDescriptionKate,
.teamDescriptionYui {
	font-family: Merriweather, serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: auto;
}
.JoinOurNewsletters,
.TestiFont,
.TestiFont2,
.needhelp,
.textFont,
.title-headline {
	font-family: Merriweather, serif;
	font-weight: 700;
}
#our-work {
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-height: 100%;
}
.JoinOurNewsletters,
.needhelp,
.title-headline {
	font-size: 54px;
	line-height: 72px;
	letter-spacing: 0;
	margin: 0;
}
.brands-highlightPreviousWork {
	display: inline;
}
.brands-highlightPreviousWork::before,
.coffeeFormula::before,
.needhelpv2::before {
	left: -6px;
	right: -10px;
}
.slide-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
	gap: 60px;
}
.textFont {
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0;
	color: #2b2b2b;
	margin: 0;
	cursor: pointer;
	transition-duration: .2s;
}
.textFont:hover {
	background-color: var(--primary-rose-100);
	color: var(--white);
	padding: 3px 5px;
}
.image-block,
.leftgrid,
.rightgrid {
	display: grid;
	gap: 32px;
}
.image-block {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 1376px;
	align-items: start;
	margin: 60px 150px;
}
.leftgrid,
.rightgrid {
	width: 100%;
	height: 100%;
	grid-column: 1;
	grid-row: 1 / span 2;
}
.rightgrid {
	width: 0%;
	grid-column: 2 / span 3;
}
.rectangle-vertical,
.square,
.square2 {
	width: 100%;
	aspect-ratio: 1 / 1;
}
.rectangle-vertical {
	height: 100%;
	aspect-ratio: 1 / 2;
	grid-column: 1;
	grid-row: 1 / span 2;
}
.square3,
.square4 {
	grid-column: 2;
	aspect-ratio: 1 / 1;
	width: 100%;
	height: 100%;
}
.square3 {
	grid-row: 1;
}
.square4 {
	grid-row: 2;
}
.rectangle-horizontal {
	aspect-ratio: 2 / 1;
	grid-column: span 2;
}
.ContainerNewsletters button,
.SeeMoreBtn,
.containerContact button {
	border: 0;
	background-color: #020e35;
	color: var(--white);
	outline: 0;
	box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	font-size: 16px;
	font-family: Merriweather, serif;
	font-weight: 700;
	gap: 4px;
}
.FontText,
.contact-form,
.contactform2,
.copyrightFont,
.fontsName,
.pName {
	font-weight: 400;
	font-family: Merriweather, serif;
}
.SeeMoreBtn {
	box-shadow: none;
	line-height: 20px;
	padding: 24px 60px;
	margin-bottom: 100px;
}
.ContainerNewsletters,
.containerContact {
	max-height: 100%;
	padding: 20px;
	max-width: 100%;
}
#Testimonial,
.HeadingTesti {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.HeadingTesti {
	margin: 0 775.5px;
}
.TestiFont,
.TestiFont2 {
	font-size: 54px;
	line-height: 72px;
	margin: 0;
}
.FontText,
.fontsName,
.pName {
	text-align: center;
	letter-spacing: 0;
}
.TestiFont2 {
	font-size: 28px;
	line-height: 36px;
	white-space: nowrap;
	margin: 20px 0 0;
}
.FontText,
.fontsName {
	font-size: 18px;
	line-height: 23px;
}
.FrameBlocks {
	margin-top: 100px;
	margin-bottom: 100px;
	left: -175px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 32px;
	width: 100%;
	height: 100%;
}
.photoTesti {
	background: var(--secondary-rose-50);
	border-radius: 50%;
	height: 150px;
	width: 150px;
}
.block1,
.block2,
.block3,
.block4,
.block5 {
	flex-direction: column;
	border-radius: 150px;
	border: 1px solid #949494;
	position: relative;
	flex-shrink: 0;
}
.block1 {
	height: 672px;
	width: 460px;
	margin: 0 8px;
}
.block2,
.block3,
.block4,
.block5 {
	height: 555px;
	width: 412px;
}
.Stars {
	background-image: url(Images/Star.png);
	width: 206px;
	height: 27px;
	background-repeat: no-repeat;
	margin-top: 24px;
	margin-bottom: 12px;
}
.FontText,
.customersName {
	margin-left: 40px;
	margin-right: 40px;
}
.customersName {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 46px;
}
.pName {
	font-size: 16px;
	line-height: 20px;
	margin-top: 6px;
}
.contact-form,
.contactform2 {
	gap: 30px;
	font-size: 18px;
	line-height: 23px;
	color: #020e35;
}
.arrows {
	background-image: url(Images/Icon_Arrows.png);
	width: 1620px;
	height: 80px;
	cursor: pointer;
}
.Circle,
.Circle2 {
	background: var(--secondary-rose-50);
}
#contact-us,
.containerContact {
	display: flex;
}
#contact-us {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.containerContact {
	flex-direction: column;
	margin-right: 150px;
	width: 700px;
	height: 904px;
	margin-left: 1114px;
}
.coffeeFormula::before,
.needhelpv2::before {
	left: 12px;
	right: -16px;
}
.contact-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	margin-top: 100px;
}
.ContainerNewsletters input[type="email"],
.ContainerNewsletters input[type="text"],
.containerContact input[type="email"],
.containerContact input[type="text"],
.containerContact textarea {
	padding: 22px;
	font-family: Merriweather, serif;
	font-size: 16px;
	line-height: 20px;
	border: 1px solid #000;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: var(--secondary-rose-50);
	width: 100%;
}
.containerContact textarea {
	resize: none;
	flex-grow: 1;
}
.ContainerNewsletters button,
.containerContact button {
	padding: 24px 80px;
	display: flex;
	align-items: center;
}
.Circle,
.ContainerNewsletters {
	display: flex;
	flex-direction: column;
	margin-left: 150px;
}
#NewsLetter,
.Circle {
	align-items: flex-start;
}
.Circle {
	position: absolute;
	border-radius: 1000px;
	width: 780px;
	height: 670px;
	z-index: -5;
	margin-bottom: 117px;
	margin-top: 117px;
}
#NewsLetter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.ContainerNewsletters {
	position: relative;
	justify-content: flex-start;
	margin-right: 1114px;
	width: 700px;
	height: 621px;
}
.Circle2,
.Circle3,
.Circle4 {
	position: absolute;
	border-radius: 1000px;
	z-index: -5;
}
.coffeeFormula::before {
	left: 13px;
	right: 0;
}
.contactform2 {
	align-items: flex-start;
	width: 100%;
	height: 100%;
	margin-top: 150px;
}
.Circle2 {
	align-items: flex-end;
	width: 780px;
	height: 670px;
	left: 840px;
}
#footer,
.right,
.terms {
	display: flex;
	align-items: center;
}
#footer {
	overflow-x: hidden;
	position: relative;
	flex-direction: column;
	width: 100%;
	padding-top: 174px;
}
.right,
.terms {
	justify-content: space-between;
}
.terms {
	width: 100%;
	background-color: #020e35;
	color: var(--white);
	height: 82px;
	padding-left: 150px;
	padding-right: 150px;
}
.right {
	flex-direction: row;
	gap: 60px;
}
.Circle3,
.Circle4 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background: var(--secondary-rose-50);
	width: 609px;
	height: 524px;
	top: 32px;
	left: 1423px;
}
.Circle4 {
	align-items: flex-start;
	top: 44px;
	left: -105px;
}
.copyrightFont {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;
	cursor: pointer;
}
.footer-grid {
	justify-content: space-between;
	width: 100%;
	flex-direction: row;
	position: relative;
	padding: 0 0 60px 150px;
}
.footer-item {
	flex-direction: column;
	margin-right: 153.55px;
	white-space: nowrap;
}
.footer-description,
.footer-title {
	font-family: Merriweather, serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0;
	margin-top: 0;
	margin-bottom: 20px;
}
.footer-description {
	font-weight: 400;
	font-size: 14px;
	line-height: 8px;
	margin-bottom: 27px;
	cursor: pointer;
}
.footer-sociaux {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	margin-right: 153.55px;
}
.social-logo {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 40px;
	width: 100%;
	margin-top: 32px;
}
.icons {
	background-size: contain;
	background-repeat: no-repeat;
	width: 50px;
	height: 51px;
}
.facebook {
	background-image: url(Images/Facebook.svg);
}
.instagram {
	background-image: url(Images/Instagram.svg);
}
.linkedin {
	background-image: url(Images/LinkedIn.svg);
}
.dribbble {
	background-image: url(Images/Dribbble.svg);
}
.twitter {
	background-image: url(Images/Twitter.svg);
}
.address-description,
.address-title {
	font-family: Merriweather, serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0;
	text-decoration: none;
	color: #2b2b2b;
	margin-top: 32px;
	margin-bottom: 0;
}
.address-description {
	font-weight: 400;
	margin-top: 16px;
}
.address-description:last-child {
	margin-top: 0;
}
